<html>
    <head>
        <title>Form Example</title>
        <script>
            function validateForm()
            {
                var username = document.forms["f1"]["username"].value.trim();
                var password = document.forms["f1"]["pwd"].value;

                if (username === "")
            {
                alert("Username cannot be empty.");
                return false;
            }
            if(password === "")
            {
                alert("Password cannot be empty.");
                return false;
            }
            if(password.length<6)
            {
                alert("Password must be atleast 6 characters long.");
                return false;
            }
            return true;
            }
        </script>
    </head>
    <body>
        <center>
            <h2>Application Form</h2>
            <form name = "f1" action="/submit" method = "POST" onsubmit="return validateForm()">
                Enter your name : <input type = "text" name="username">
                <br/>
                <br/>
                Enter your password : <input type = "password" name ="pwd">
                <br/>
                <br/>
                <input type = "submit" name = 'sb' value = "Submit">
            </form>
        </center>
    </body>
</html>